<ion-header>
  <ion-toolbar color="success">
   <ion-buttons slot="start">
    <ion-back-button title=""></ion-back-button>
   </ion-buttons>

    <ion-title>pickup-call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <img src="https://files.propertywala.com/maps/202212/P39606383.jpg"/>

 <ion-card>
 <ion-card-content>
  <P>Address: Fake street, 111</P>
  <p>Complement: Apto 222</p>
  <p>Neighbourhood: neighbourhood</p>
  <p>Zipcode: 620610 </p>
  <p>State: Tamilnadu</p>
 </ion-card-content>
 </ion-card>

<ion-list>
  <ion-item lines="inset">
    <ion-label position="floating">Notes</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>
</ion-list>

<ion-button size="full" color="success">Create Pickup-call</ion-button>
</ion-content>
